body {
	background-image: url("../images/frutigerbackground.jpeg");
	color: white;
}

.center {
  text-align: center;
}

#navtable {
  display: flex;
  justify-content: center;
  background-color: #b8decc;
  padding: 15px;
  border-radius: 70px;
  box-shadow: 2px 6px 10px;
  font-size: 2em;
  font-family: "Georgia", cursive;
  color: black;
}

#navtable th {
  padding-left: 20px;
  padding: 30px;
  color: black;
}

#introduction div {
  background-color: #b8decc;
  padding: 15px;
  border-radius: 100px;
  box-shadow: 2px 6px 10px;
  color: black;
}

#skeuomorphism div {
  background-color: #b8decc;
  padding: 15px;
  border-radius: 100px;
  box-shadow: 2px 6px 10px;
  color: black;
}

#popularity div {
  background-color: #b8decc;
  padding: 15px;
  border-radius: 100px;
  box-shadow: 2px 6px 10px;
  color: black;
}

p {
  margin-left: 20%;
  margin-right: 20%;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
}

.img-f {
  width: 1280px;
  height: 960px;
  border: 2px white;
}

.img-c {
  width: 1200px;
  height: 676px;
  border: 2px white;
}

.img-w {
  width: 1200px;
  height: 1200px;
  border: 2px white;
}
.videoframe {
	width: 960px;
	height: 540px;
}